Source: kcrash
Section: libs
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 0.0.13),
               libkf5coreaddons-dev (>= 4.99.0),
               libkf5windowsystem-dev (>= 4.99.0),
               libqt5x11extras5-dev,
               pkg-kde-tools,
               qtbase5-dev,
               xauth,
               xvfb
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/kcrash

Package: libkf5crash-dev
Section: libdevel
Architecture: any
Depends: libkf5crash5 (= ${binary:Version}), ${misc:Depends}
Description: Support for application crash analysis and bug report from apps
 KCrash provides support for intercepting and handling application crashes.
 .
 Contains development files for kcrash.

Package: libkf5crash5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Support for application crash analysis and bug report from apps
 KCrash provides support for intercepting and handling application crashes.
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}

Package: libkf5crash5-dbg
Priority: extra
Section: debug
Architecture: any
Multi-Arch: same
Depends: libkf5crash5 (= ${binary:Version}), ${misc:Depends}
Description: Support for application crash analysis and bug report from apps
 KCrash provides support for intercepting and handling application crashes.
 .
 Contains debug symbols for kcrash.
