Source: kcrash
Section: libs
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 1.1.0),
               libkf5coreaddons-dev (>= 5.1.0),
               libkf5windowsystem-dev (>= 5.1.0),
               libqt5x11extras5-dev,
               pkg-kde-tools,
               qtbase5-dev,
               xauth,
               xvfb
Standards-Version: 3.9.5
XS-Testsuite: autopkgtest
Homepage: https://projects.kde.org/projects/frameworks/kcrash
Vcs-Browser: http://bazaar.launchpad.net/~kubuntu-packagers/kubuntu-packaging-next/kcrash
Vcs-Bzr: https://code.launchpad.net/~kubuntu-packagers/kubuntu-packaging-next/kcrash

Package: libkf5crash-dev
Section: libdevel
Architecture: any
Depends: libkf5coreaddons-dev,
         libkf5crash5 (= ${binary:Version}),
         libkf5windowsystem-dev,
         qtbase5-dev,
         ${misc:Depends}
Description: Support for application crash analysis and bug report from apps
 KCrash provides support for intercepting and handling application crashes.
 .
 Contains development files for kcrash.

Package: libkf5crash5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Support for application crash analysis and bug report from apps
 KCrash provides support for intercepting and handling application crashes.
Multi-Arch: same

Package: libkf5crash5-dbg
Priority: extra
Section: debug
Architecture: any
Multi-Arch: same
Depends: libkf5crash5 (= ${binary:Version}), ${misc:Depends}
Description: Support for application crash analysis and bug report from apps
 KCrash provides support for intercepting and handling application crashes.
 .
 Contains debug symbols for kcrash.
